HELP.md

# macOS
.DS_Store
storage/audio/

# Gradle
.gradle/
build/
!backend/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Python
.venv/
**/__pycache__/

# Application config
backend/src/main/resources/application-local.yml
backend/src/main/resources/application-prod.yml
.env
.env.*
!.env.example